{% extends "events/base.html" %}

{% block content %}
<div class="container">
    <div class = "row">
        <div class = "col">
            <table class="table">
                <tbody>
                    {% for event in object_list %}
                    <tr>
                        <td>{{ event.description }}</td>
                        <td><a href="{% url 'events:detail' event.id %}" class="btn btn-outline-secondary">view</a></td>
                        <td><a href="{% url 'events:update' event.id %}" class="btn btn-outline-success">edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}